<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>

<!--
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
-->

		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="100000000" />
			</requestFiltering>
		</security>

		<directoryBrowse enabled="true" />

		<caching>
			<profiles>
				<add extension=".php" policy="DisableCache" kernelCachePolicy="DisableCache" />
				<add extension=".html" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="14:00:00:00" />
			</profiles>
		</caching>

		<rewrite>
			<rules>
<!--
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
				<rule name="Example 1" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="false" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="false" />
						<add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="false" />
					</conditions>
					<action type="Rewrite" url="index.php?q={R:1}" appendQueryString="true" />
				</rule>
-->

<!--
RewriteCond %{HTTP_HOST} ^staff.*
RewriteRule ^$ /staff/engine.php [PT]
-->
				<rule name="SiteManager Rule 1" stopProcessing="true">
					<match url="^$" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^staff.*" ignoreCase="true" negate="false" />
					</conditions>
					<action type="Rewrite" url="/staff/engine.php{R}" appendQueryString="true" />
				</rule>

<!--
RewriteRule ^admin/install(.*) /staff/img$1 [PT]
RewriteRule ^admin/img(.*) /staff/img$1 [PT]
RewriteRule ^admin/sqldata(.*) /html/sqldata$1 [PT]
RewriteRule ^admin/css(.*) /staff/css$1 [PT]
RewriteRule ^admin/font(.*) /staff/font$1 [PT]
RewriteRule ^admin/js(.*) /staff/js$1 [PT]
RewriteRule ^admin/static/(.*) /staff/js$1 [PT]
RewriteRule ^admin/htmleditor(.*) /html/htmleditor$1 [PT]
RewriteRule ^admin(.*) /staff/engine.php/$1 [PT]
-->
				<rule name="SiteManager Rule Admin Install" stopProcessing="true">
					<match url="^admin/install(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/staff/install.php" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Admin Images" stopProcessing="true">
					<match url="^admin/img(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/staff/img{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Admin SQLData" stopProcessing="true">
					<match url="^admin/sqldata(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/html/sqldata{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Admin CSS" stopProcessing="true">
					<match url="^admin/css(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/staff/css{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Admin Font" stopProcessing="true">
					<match url="^admin/font(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/staff/font{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Admin JS" stopProcessing="true">
					<match url="^admin/js(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/staff/js{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Admin Static" stopProcessing="true">
					<match url="^admin/static/(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/staff/static/{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Admin HTML Editor" stopProcessing="true">
					<match url="^admin/htmleditor/(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/staff/htmleditor/{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Admin" stopProcessing="true">
					<match url="^admin(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/staff/engine.php/{R:1}" appendQueryString="true" />
				</rule>

<!--
RewriteRule /dyncol(.*)$  /html/img/dynamicolor.php?$1 [PT]
RewriteRule ^dyncol(.*)$  /html/img/dynamicolor.php?$1 [PT]
-->
				<rule name="SiteManager Rule Admin Dyncol 1" stopProcessing="true">
					<match url="/dyncol(.*)$" ignoreCase="true" />
					<action type="Rewrite" url="/html/img/dynamicolor.php{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Admin Dyncol 2" stopProcessing="true">
					<match url="^dyncol(.*)$" ignoreCase="true" />
					<action type="Rewrite" url="/html/img/dynamicolor.php{R:1}" appendQueryString="true" />
				</rule>

<!--
RewriteRule /0$  /html/img/_.gif [PT]
RewriteRule ^0$  /html/img/_.gif [PT]
-->
				<rule name="SiteManager Rule Null Image 1" stopProcessing="true">
					<match url="/0(.*)$" ignoreCase="true" />
					<action type="Rewrite" url="/html/img/_.gif" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Null Image 2" stopProcessing="true">
					<match url="^0(.*)$" ignoreCase="true" />
					<action type="Rewrite" url="/html/img/_.gif" appendQueryString="true" />
				</rule>

<!--
RewriteRule ^cacheimg(.*)$ /engine.php?$1&core_action=cacheimage [PT]
RewriteRule ^img(.*) /html/img$1 [PT]
RewriteRule ^sqldata(.*) /html/sqldata$1 [PT]
RewriteRule ^css(.*) /html/css$1 [PT]
RewriteRule ^js(.*) /html/js$1 [PT]
-->
				<rule name="SiteManager Rule Cache Image" stopProcessing="true">
					<match url="^cacheimg(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/engine.php{R:1}&amp;core_action=cacheimage" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Default Images" stopProcessing="true">
					<match url="^img(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/html/img{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Default SQLData" stopProcessing="true">
					<match url="^sqldata(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/html/sqldata{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Default CSS" stopProcessing="true">
					<match url="^css(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/html/css{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Default JS" stopProcessing="true">
					<match url="^js(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/html/js{R:1}" appendQueryString="true" />
				</rule>

<!--
RewriteRule ^si(.*)     /engine.php/showimage/?param=$1 [PT]
RewriteRule ^sf(.*)     /engine.php/showfile/?param=$1 [PT]
-->
				<rule name="SiteManager Rule Show Image ShortCut" stopProcessing="true">
					<match url="^si(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/engine.php/showimage/?param={R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Show File ShortCut" stopProcessing="true">
					<match url="^sf(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/engine.php/showfile/?param={R:1}" appendQueryString="true" />
				</rule>

<!--
RewriteCond %{REQUEST_URI}% !^/engine.php.*
RewriteCond %{REQUEST_URI}% !^/html/img.*
RewriteCond %{REQUEST_URI}% !^/html/sqldata.*
RewriteCond %{REQUEST_URI}% !^/html/css.*
RewriteCond %{REQUEST_URI}% !^/html/js.*
RewriteCond %{REQUEST_URI}% !^/template*
RewriteRule ^(.*)$ /engine.php/$1 [PT]
-->
				<rule name="SiteManager Rule Engine Default" stopProcessing="true">
					<match url="^$" ignoreCase="true" />
					<action type="Rewrite" url="/engine.php" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Engine with Contidions" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="true" />
					<conditions>
						<add input="{REQUEST_URI}" pattern="^/html/img.*" ignoreCase="true" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/html/sqldata.*" ignoreCase="true" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/html/css.*" ignoreCase="true" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/html/js.*" ignoreCase="true" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/html/template.*" ignoreCase="true" negate="true" />
					</conditions>
					<action type="Rewrite" url="/engine.php/{R}" appendQueryString="true" />
				</rule>


			</rules>
		</rewrite>

	</system.webServer>
</configuration>


